<% provide(:about, "active") %>
<% provide(:title, "About") %>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h3 class="heading">About us</h3>
      <p>Skateboard tbh fam fingerstache edison bulb art party. Wayfarers bitters succulents, bushwick mixtape cred deep v lomo hammock before they sold out williamsburg. Jean shorts hoodie live-edge kogi.</p>
      <p>Skateboard tbh fam fingerstache edison bulb art party. Wayfarers bitters succulents, bushwick mixtape cred deep v lomo hammock before they sold out williamsburg. Jean shorts hoodie live-edge kogi. <a href="/contact">Contact us</a></p>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h3>Our services</h3>
        </div>
        <div class="services">
          <div class="col-md-4">
            <h4>House keeping</h4>
            <p>Sedison bulb art party. Wayfarers bitters succulents, bushwick mixtape cred deep v lomo hammock before they kateboard tbh fam fingerstache sold out williamsburg. Jean shorts hoodie live-edge kogi.</p>
          </div>
          <div class="col-md-4">
            <h4>Accounting</h4>
            <p>Sedison bulb art party. Wayfarers bitters succulents, bushwick mixtape cred deep v lomo hammock before they kateboard tbh fam fingerstache sold out williamsburg. Jean shorts hoodie live-edge kogi.</p>
          </div>
          <div class="col-md-4">
            <h4>Painting</h4>
            <p>Sfingerstache sold o edison bulb art party. Wayfarers bitters succulents, bushwick mixtape cred deep v lomo hammock before they kateboard he sold out williamsburg. Jean shorts hoodie live-edge kogi.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <img src="http://upload.wikimedia.org/wikipedia/commons/a/ac/OneWorldTradeCenter.jpg" alt="About" class="about-image"/>
    </div>
  </div>

</div>
